<div>
  <p-table #ingredientsTable [value]="ingredients" dataKey="id" [paginator]="true" [rows]="10" [globalFilterFields]="['id','name']" [(selection)]="selectedIngredients" filterDisplay="menu" [loading]="loading" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <span>
          <app-create-ingredient (createdIngredient)="getIngredients()"></app-create-ingredient >
          <Button pButton type="button" pButtonIcon="pi pi-trash" pButtonLabel="Delete" class="p-button-outlined p-button-danger mr-2" (click)="confirmDeleteSelected()" [disabled]="!selectedIngredients || !selectedIngredients.length">Delete</Button>
          <Button pButton type="button" pButtonIcon="pi pi-filter-slash" pButtonLabel="Clear" class="p-button-outlined" (click)="clearFilter(ingredientsTable)">Clear</Button>
        </span>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
        <Input type="text" pInputText (input)="ingredientsTable.filterGlobal(getEventValue($event), 'contains')" placeholder="Keyword Search">
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="empty">
      No ingredients found.
    </ng-template>
    <ng-template pTemplate="loading">
      Loading ingredient data. Please wait.
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="ingredient-checkbox" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th id="ingredient-id" pSortableColumn="id">
          <div class="flex justify-content-between align-items-center">
            ID
            <p-sortIcon field="id"></p-sortIcon>
            <p-columnFilter type="text" field="id" class="ml-auto" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th id="ingredient-name" pSortableColumn="name">
          <div class="flex justify-content-between align-items-center">
            Name
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter type="text" field="name" class="ml-auto" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </div>
        </th>
        <th id="ingredient-action">
          <div class="flex justify-content-between align-items-center">
            Action
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ingredient>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="ingredient"></p-tableCheckbox>
        </td>
        <td>
          {{ingredient.id}}
        </td>
        <td>
          {{ingredient.name}}
        </td>
        <td style="min-width:3rem;max-width:3rem">
          <Button pButton type="button" pButtonIcon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-text" (click)="confirmDeleteIngredient(ingredient)"></Button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="deleteIngredientDialog" [style]="{width: '450px'}" header="Confirm" [modal]="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="ingredient">
        Are you sure you want to delete
        <b>
          {{ ingredient.name }}
        </b>?
      </span>
    </div>
    <ng-template pTemplate="footer">
      <Button pButton type="button" pButtonLabel="No" pButtonIcon="pi pi-times" class="p-button-text" (click)="deleteIngredientDialog = false"></Button>
      <Button pButton type="button" pButtonLabel="Yes" pButtonIcon="pi pi-check" class="p-button-text" (click)="deleteIngredient()"></Button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="deleteIngredientsDialog" [style]="{width: '450px'}" header="Confirm" [modal]="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="selectedIngredients">
        Are you sure you want to delete the selected ingredients?
      </span>
    </div>
    <ng-template pTemplate="footer">
      <Button pButton type="button" pButtonLabel="No" pButtonIcon="pi pi-times" class="p-button-outlined p-button-text" (click)="deleteIngredientsDialog = false"></Button>
      <Button pButton type="button" pButtonLabel="Yes" pButtonIcon="pi pi-check" class="p-button-outlined p-button-text" (click)="deleteIngredients()"></Button>
    </ng-template>
  </p-dialog>
</div>
