<div class="p-3 h-full">
  <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
    <div class="text-900 font-medium text-xl mb-2">Ingredients</div>
    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
    <div *ngFor="let amount of hydratedIngredientAmounts">
      <div class="flex flex-row flex-grow-1 mb-2">
        <div class="flex flex-column flex-grow-1">
          {{ amount.ingredient.name }}
        </div>
        <div class="flex flex-column justify-content-end">
          {{ amount.quantity }} {{ amount.unit.short_name }}
        </div>
      </div>
    </div>
  </div>
</div>
