<p-button size="small" label="New" icon="pi pi-plus" [rounded]="true" [outlined]="true" [raised]="true" (click)="openDialog()"></p-button>
<p-dialog header="New ingredient" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{ width: '50vw'}"
  [modal]="true" [(visible)]="visible">
  <ng-template pTemplate="header">
    Create Ingredient
  </ng-template>
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Ingredient Name</label>
        <input id="name" type="text" pInputText [(ngModel)]="ingredient.name" class="form-control" required minlength="4" #name="ngModel" />
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

        <div *ngIf="name.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="name.errors?.['minlength']">
          Name must be at least 4 characters long.
        </div>
      </div>
    </div>
  <ng-template pTemplate="footer">
    <p-button size="small" label="Cancel" icon="pi pi-times" severity="danger" [rounded]="true" [outlined]="true" [raised]="true" (click)="closeDialog()"></p-button>
    <p-button size="small" label="Create" icon="pi pi-check" severity="success" [rounded]="true" [outlined]="true" [raised]="true" (click)="createIngredient()" [disabled]="name.invalid"></p-button>
  </ng-template>
</p-dialog>
