recipes: {{ recipes | json }}<br>
metadata: {{ recipeMetadata | json }}<br>
combined: {{ combinedRecipes | json }}<br>
<div class="px-4 py-4 md:px-6 lg:px-8">
  <div class="text-3xl font-medium text-900 header flex flex-row">
    <div class="flex justify-content-start">
      <span class="title">Recipes</span>
      <span class="buttons">
        <app-recipe-create></app-recipe-create>
      </span>
    </div>
  </div>
  <hr class="my-3 mx-0 border-top-1 border-none surface-border flex flex-row" />
  <div class="container">
    <div class="grid" *ngIf="combinedRecipes.length; else noThings">
      <p-card *ngFor="let recipe of combinedRecipes" header="{{recipe.name}}" routerLink="/app/recipes/{{recipe.id}}" class="card">
        <ng-template pTemplate="header">
          <img alt="Header image" src="{{cdn}}/img/{{recipe.ImageName}}.jpg" onerror="this.src='assets/images/placeholder.png';"
            style="height: 228.17px; object-fit: cover;">
        </ng-template>
        <ng-template pTemplate="subtitle">
          <span class="p-row-1">
            <i class="pi pi-clock p-mr-5"></i>
            <!--{{ recipe.CookTime }}--> 00 Minutes
          </span>
        </ng-template>
        <p class="m-0">
          {{recipe.description}}
        </p>
        <!--<ng-template pTemplate="footer">
          <div *ngIf="recipe.related?.category_ids?.length; else noCategories">
            <span *ngFor="let category of recipe.related.category_ids?" class="p-row-1">
              <p-chip label="{{category}}" styleClass="bg-blue-100" [style]="{'margin-right': '0.5rem'}"></p-chip>
            </span>
            <ng-template #noCategories>
              <p>No categories available</p>
            </ng-template>
          </div>
          <div class="mt-1" *ngIf="recipe.related?.tag_ids?.length; else noTags">
            <span *ngFor="let tag of recipe.related.tag_ids?" class="p-row-1 mt-1">
              <p-tag value="{{tag}}" [rounded]="true" [style]="{'margin-right': '0.5rem'}"></p-tag>
            </span>
            <ng-template #noTags>
              <p>No tags available</p>
            </ng-template>
          </div>
        </ng-template>-->
      </p-card>
    </div>
  </div>
</div>
<ng-template #noThings>
  <div class="text-3xl text-500">
    No Result
  </div>
</ng-template>
<ng-template>
  <div >
    <p-chip label="No categories" styleClass="bg-blue-100" [style]="{'margin-right': '0.5rem'}"></p-chip>
  </div>
</ng-template>
<ng-template>
  <div class="mt-1">
    <p-tag value="No tags" [rounded]="true" [style]="{'margin-right': '0.5rem'}"></p-tag>
  </div>
</ng-template>
