<div class="hide-mobile">
  <span class="text-3xl">Filtering</span>

  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
  <div class="input">
    <label htmlFor="search">Search</label>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" id="search" placeholder="Searchterm" pInputText [(ngModel)]="searchText" (input)="filterRecipes()" />
    </span>
  </div>
  <div class="input">
    <span class="p-label input">
      <label htmlFor="category">Category</label>
      <p-multiselect
        [style]="{'width': '95%'}"
        id="category"
        [showClear]="true"
        [options]="categories"
        [(ngModel)]="selectedCategories"
        display="chip"
        optionLabel="name"
        placeholder="Select a Category"
        (onChange)="filterRecipes()">

      </p-multiselect >
    </span>
  </div>
  <div class="input">
    <span class="p-label input">
      <label htmlFor="tag">Tag</label>
      <p-multiselect
        [style]="{'width': '95%'}"
        id="tag"
        [showClear]="true"
        [options]="tags"
        [(ngModel)]="selectedTags"
        display="chip"
        optionLabel="name"
        placeholder="Select a Tag"
        (onChange)="filterRecipes()">
      </p-multiselect >
    </span>
  </div>
</div>

<div class="show-mobile">
  <p-button type="button" icon="pi pi-bars" label="Filters" [outlined]="true" [raised]="true"  (click)="filtersVisible = true"
    aria-haspopup="true" aria-controls="overlay_menu">Filters</p-button>
  <p-sidebar [(visible)]="filtersVisible" class="h-auto">
    <span class="text-3xl">Filtering</span>
    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
    <div class="input">
      <p>Search</p>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" [style]="{'width': '95%'}" placeholder="Search term" pInputText [(ngModel)]="searchText"
          (input)="filterRecipes()" />
      </span>
    </div>
    <p>Category</p>
    <p-multiselect
      [style]="{'width': '95%'}"
      [showClear]="true"
      [options]="categories"
      [(ngModel)]="selectedCategories"
      display="chip"
      optionLabel="name"
      placeholder="Select a Category"
      (onChange)="filterRecipes()">
    </p-multiselect>
    <br>
    <p>Tag</p>
    <p-multiselect
      [style]="{'width': '95%'}"
      [showClear]="true"
      [options]="tags"
      [(ngModel)]="selectedTags"
      display="chip"
      optionLabel="name"
      placeholder="Select a Tag"
      (onChange)="filterRecipes()">
    </p-multiselect>
  </p-sidebar>
</div>


