<div class="px-4 py-4 md:px-6 lg:px-8">
  <div class="flex flex-row flex-wrap">
    <div class="flex align-items-center cancelButton">
      <p-button class="mr-2" icon="pi pi-times" label="Cancel" [rounded]="true" [raised]="true" [outlined]="true" severity="danger" (click)="cancelPopup=true"></p-button>
    </div>
    <div class="flex align-items-center saveButton">
      <p-button icon="pi pi-check" label="Save" [rounded]="true" [raised]="true" [outlined]="true" severity="success" (click)="saveRecipeUpdate()"></p-button>
    </div>
  </div>
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 pl-3 pt-3 text-center md:text-left">
        <div class="flex flex-row flex-grow-1 md:gap-1 lg:gap-4">
          <div class="field" style="width: 100%;">
            <label for="title">Name</label><br />
            <input pInputText id="title" type="text" class="p-inputtext-lg" placeholder="Recipe title"
              [(ngModel)]="recipe.name" style="width: 100%;"/>
          </div>
        </div>
        <div class="flex flex-row md:gap-1 lg:gap-4">
          <div class="description">
            <div class="field">
              <label for="description">Description</label><br />
              <textarea pTextarea id="description" maxlength="280" [(ngModel)]="recipe.description" class="description" style="height: 300px;"></textarea>
            </div>
          </div>
          <div class="metadata">
            <div class="field">
              <i class="pi pi-clock" style="margin-right: 10px"></i>
              <p-inputNumber class="p-inputnumber-sm" placeholder="Cooking time" [showButtons]="true" suffix=" Minutes"
                [(ngModel)]="metadata.serving_count"></p-inputNumber> <!-- Cooktime -->
            </div>
            <div class="field">
              <i class="pi pi-user" style="margin-right: 10px"></i>
              <p-inputNumber class="p-inputnumber-sm" placeholder="Servings" [showButtons]="true" suffix=" Persons"
                [(ngModel)]="metadata.serving_count"></p-inputNumber>
            </div>
            <div class="mb-2">
              Categories <p-multiSelect [options]="categories" [(ngModel)]="metadata.categories" placeholder="Select a Category"
                optionLabel="name" display="chip"></p-multiSelect>
            </div>
            <div class="mb-2">
              Tags <p-multiSelect [options]="tags" [(ngModel)]="metadata.tags" placeholder="Select a tag" optionLabel="name"
                display="chip"></p-multiSelect>
            </div>
            <div class="mb-2">
              CuisineType <p-select [options]="cuisineTypes" [(ngModel)]="metadata.cuisine_type" placeholder="Select a quisine type"
                optionLabel="name"></p-select>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 md:col-6 overflow-hidden coverImageContainer">
      <img src="{{imgUrl}}" onerror="this.src='assets/images/placeholder.png';" alt="Image" class="md:ml-auto block md:h-full cover-image" style="max-height: 458px; clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
      <p-button icon="pi pi-upload" label="Upload image" [rounded]="true" [raised]="true" (click)="fileUploadToggle()" class="coverImageButton"></p-button>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 lg:col-6">
      <div class="pt-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="flex justify-content-between align-items-center mb-2">
            <div class="text-900 font-medium text-xl">Ingredients</div>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <app-ingredient-editor [ingredientAmounts]="amounts" (updateIngredientAmounts)="updateIngredientAmounts($event)" class="ingredienteditor"></app-ingredient-editor>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-6">
      <div class="pt-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="flex justify-content-between align-items-center mb-1">
            <div class="text-900 font-medium text-xl">Method</div>
            <p-button size="small" icon="pi pi-plus" severity="success" label="Add Step" [rounded]="true" [raised]="true" [outlined]="true" (click)="addInstruction()"> </p-button>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div *ngFor="let step of instructions; let i = index" class="mb-3">
            <div class="flex align-items-center justify-content-between">
              <div class="text-900 font-semibold mb-1">Step {{ step.sequence }}</div>
              <p-button class="mb-2" size="small" icon="pi pi-trash" [rounded]="true" [raised]="true" [outlined]="true" severity="danger" (click)="deleteInstruction(i)"></p-button>
            </div>
            <p-editor [(ngModel)]="step.description" [style]="{'height': '100%'}"></p-editor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="fileUpload" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <p class="font-medium text-900">Caution!</p>
  <p>Uploading a new cover is applied immediately!</p>
  <p-fileUpload name="file" url="{{api}}/api/v1/recipe/{{recipe.id}}/cover" accept="image/*" [maxFileSize]="10000000" (onUpload)="onUploadSuccess()" (onError)="onUploadError()">
  </p-fileUpload>
</p-dialog>

<p-dialog [(visible)]="cancelPopup" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <div class="confirmation-content">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Are you sure you want to cancel?</span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="No" icon="pi pi-times" [rounded]="true" [raised]="true" [outlined]="true" (click)="cancelPopup = false"></p-button>
    <p-button label="Yes" icon="pi pi-check" [rounded]="true" [raised]="true" [outlined]="true" severity="danger" [routerLink] = "['/app/recipes/'+recipe.id]"></p-button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="confirmPopup" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <div class="confirmation-content">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>There are no ingredients or method specified. Are you sure you want to save this?</span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="No" icon="pi pi-times" [rounded]="true" [raised]="true" [outlined]="true" (click)="cancelPopup = false">No</p-button>
    <p-button label="Yes" icon="pi pi-check" [rounded]="true" [raised]="true" [outlined]="true" (click)="uploadRecipe()">Yes</p-button>
  </ng-template>
</p-dialog>
