<div class="px-4 py-4 md:px-6 lg:px-8">
  <div class="flex flex-row flex-wrap">
    <div class="flex align-items-center cancelButton">
      <button pButton class="p-button-rounded p-button-text" pButtonIcon="pi pi-times" (click)="cancelPopup=true">Cancel</button>
    </div>
    <div class="flex align-items-center saveButton">
      <button pButton class="p-button-rounded p-button-text" pButtonIcon="pi pi-check" (click)="saveRecipeUpdate()">Save</button>
    </div>
  </div>
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 pl-3 pt-3 text-center md:text-left">
        <div class="flex flex-row flex-grow-1 md:gap-1 lg:gap-4">
          <div class="field" style="width: 100%;">
            <label for="title">Name</label><br />
            <input pInputText id="title" type="text" class="p-inputtext-lg" placeholder="Recipe title"
              [(ngModel)]="recipe.name" style="width: 100%;"/>
          </div>
        </div>
        <div class="flex flex-row md:gap-1 lg:gap-4">
          <div class="description">
            <div class="field">
              <label for="description">Description</label><br />
              <textarea pTextarea id="description" maxlength="280" [(ngModel)]="recipe.description" class="description" style="height: 300px;"></textarea>
            </div>
          </div>
          <div class="metadata">
            <div class="field">
              <i class="pi pi-clock" style="margin-right: 10px"></i>
              <p-inputNumber class="p-inputnumber-sm" placeholder="Cooking time" [showButtons]="true" suffix=" Minutes"
                [(ngModel)]="recipe.serving_count"></p-inputNumber> <!-- Cooktime -->
            </div>
            <div class="field">
              <i class="pi pi-user" style="margin-right: 10px"></i>
              <p-inputNumber class="p-inputnumber-sm" placeholder="Servings" [showButtons]="true" suffix=" Persons"
                [(ngModel)]="recipe.serving_count"></p-inputNumber>
            </div>
<!--            <div class="mb-2">-->
<!--              <p-multiSelect [options]="categories" [(ngModel)]="recipe.Categories" defaultLabel="Select a Category"-->
<!--                optionLabel="CategoryName" display="chip"></p-multiSelect>-->
<!--            </div>-->
<!--            <div class="">-->
<!--              <p-multiSelect [options]="tags" [(ngModel)]="recipe.Tags" defaultLabel="Select a tag" optionLabel="TagName"-->
<!--                display="chip"></p-multiSelect>-->
<!--            </div>-->
          </div>
        </div>
    </div>
    <div class="col-12 md:col-6 overflow-hidden coverImageContainer">
      <img src="{{imgUrl}}" onerror="this.src='assets/images/placeholder.png';" alt="Image" class="md:ml-auto block md:h-full cover-image" style="max-height: 458px; clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
      <button pButton icon="pi pi-upload" (click)="fileUploadToggle()" class="coverImageButton">Upload image</button>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 lg:col-6">
      <div class="pt-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-medium text-xl mb-2">Ingredients</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <app-ingredient-editor [ingredientAmounts]="amounts" (updateIngredientAmounts)="updateIngredientAmounts($event)" class="ingredienteditor"></app-ingredient-editor>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-6">
      <div class="pt-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-medium text-xl mb-2">Method</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
<!--          <p-editor [(ngModel)]="instructions.description" [style]="{'height': '100%'}"></p-editor>-->
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="fileUpload" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <p class="font-medium text-900">Caution!</p>
  <p>Uploading a new cover is applied immediately!</p>
  <p-fileUpload name="file" url="{{api}}/api/v1/recipe/{{recipe.id}}/cover" accept="image/*" [maxFileSize]="10000000" (onUpload)="onUploadSuccess()" (onError)="onUploadError()">
  </p-fileUpload>
</p-dialog>

<p-dialog [(visible)]="cancelPopup" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <div class="confirmation-content">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Are you sure you want to cancel?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pButtonLabel="No" pButtonIcon="pi pi-times" class="p-button-text" (click)="cancelPopup = false">No</button>
    <button pButton pButtonLabel="Yes" pButtonIcon="pi pi-check" class="p-button-text" [routerLink] = "['/app/recipes/'+recipe.id]">Yes</button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="confirmPopup" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <div class="confirmation-content">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>There are no ingredients or method specified. Are you sure you want to save this?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pButtonLabel="No" pButtonIcon="pi pi-times" class="p-button-text" (click)="cancelPopup = false">No</button>
    <button pButton pButtonLabel="Yes" pButtonIcon="pi pi-check" class="p-button-text" (click)="uploadRecipe()">Yes</button>
  </ng-template>
</p-dialog>
