<button pButton class="p-button-outlined" label="New" icon="pi pi-plus" (click)="openDialog()"></button>
<p-dialog header="New recipe" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [modal]="true" [(visible)]="visible">
  <div class="p-fluid">
    <div class="p-field">
      <label for="recipeTitle">Title</label>
      <input pInputTextarea #recipeTitle="ngModel" class="form-control" required type="text" id="recipeTitle" type="text" [(ngModel)]="recipe.name" autofocus/>
      <div *ngIf="recipeTitle.invalid && (recipeTitle.dirty || recipeTitle.touched)" class="alert">

        <div *ngIf="recipeTitle.errors?.['required']" class="mb-2">
          Title is required.
        </div>
      </div>
    </div>

    <div class="p-field">
      <label for="recipeDescription">Description</label>
      <br />
      <textarea pInputTextarea #recipeDescription="ngModel" class="form-control" required id="recipeDescription" type="text"  maxlength="280" [(ngModel)]="recipe.description"></textarea>
      <div *ngIf="recipeDescription.invalid && (recipeDescription.dirty || recipeDescription.touched)" class="alert">

        <div *ngIf="recipeDescription.errors?.['required']" class="mb-2">
          Description is required.
        </div>
      </div>
    </div>

    <div class="p-field">
      <label for="recipeCookTime">Cooking duration in minutes</label>
      <p-inputNumber #recipeCookTime="ngModel" class="form-control"  id="recipeCookTime" [(ngModel)]="recipe.serving_count" mode="decimal" [min]="0" [showButtons]="true"></p-inputNumber> <!-- TODO: fix cook_time -->
      <div *ngIf="recipeCookTime.invalid && (recipeCookTime.dirty || recipeCookTime.touched)" class="alert">

        <div *ngIf="recipeCookTime.errors?.['required']" class="mb-2">
          Cook time is required.
        </div>
      </div>
    </div>

    <div class="p-field">
      <label for="recipePersons">Servings</label>
      <p-inputNumber #recipePersons="ngModel" class="form-control" id="recipePersons" [(ngModel)]="recipe.serving_count" mode="decimal" [min]="0" [showButtons]="true"></p-inputNumber>
      <div *ngIf="recipePersons.invalid && (recipePersons.dirty || recipePersons.touched)" class="alert">

        <div *ngIf="recipePersons.errors?.['required']" class="mb-2">
          Amount of persons is required.
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-outlined" label="Cancel" icon="pi pi-cross" (click)="closeDialog()"></button>
    <button pButton class="p-button-outlined" label="Create" icon="pi pi-check" (click)="createRecipe()" [disabled]="recipeTitle.invalid || recipeDescription.invalid ||recipeCookTime.invalid || recipePersons.invalid"></button>
  </ng-template>
