<p-table #IngredientAmounts [value]="ingredientAmounts" dataKey="ingredientID" [(selection)]="selectedIngredients" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,25]" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="table-header flex flex-column md:flex-row md:justiify-content-between">
      <p-button size="small" label="New" icon="pi pi-plus" class="mr-2" [rounded]="true" [outlined]="true" [raised]="true" (click)="openNew()"></p-button>
      <p-button size="small" label="Delete" severity="danger" icon="pi pi-trash" [rounded]="true" [outlined]="true" [raised]="true" (click)="confirmDeleteSelected()" [disabled]="!selectedIngredients || !selectedIngredients.length"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th id="table-header" style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th id="ingredient-name">Name</th>
      <th id="ingredient-amount">Amount</th>
      <th id="ingredient-unit">Unit</th>
      <th id="ingredient-actions">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ingredientamount>
    <tr class="p-selectable-row">
      <td>
        <p-tableCheckbox [value]="ingredientamount"></p-tableCheckbox>
      </td>
      <td>{{getIngredientName(ingredientamount)}}</td>
      <td>{{ingredientamount.quantity}}</td>
      <td>{{unitNames.get(ingredientamount.unitID)}}</td>
      <td style="text-align: left">
        <p-button size="small" icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" [raised]="true" (click)="editIngredient(ingredientamount)"></p-button>
        <p-button size="small" icon="pi pi-trash" [rounded]="true" [outlined]="true" [raised]="true" severity="danger" (click)="confirmDeleteIngredient(ingredientamount)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="ingredientDialog" [style]="{'width': '450px'}" header="Ingredient Details" [modal]="true" class="p-fluid">
    <label for="ingredientSelect">Ingredient</label>
    <p-dropdown id="ingredientSelect" appendTo="body" [options]="ingredients" optionLabel="name" optionValue="id" placeholder="Select ingredient" [editable]="true" [(ngModel)]="newIngredient.ingredientID" #ingredientSelect="ngModel"></p-dropdown>
    <div *ngIf="ingredientSelect.invalid && (ingredientSelect.dirty || ingredientSelect.touched)" class="alert">

      <div *ngIf="ingredientSelect.errors?.['required']">
        Ingredient is required.
      </div>
    </div>

    <label for="amount">Amount</label>
    <p-inputNumber id="amount" [showButtons]="true" [(ngModel)]="newIngredient.quantity" class="form-control" #amount="ngModel"></p-inputNumber>
    <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert">

      <div *ngIf="amount.errors?.['required']">
        Amount is required.
      </div>
    </div>

    <label for="unit">Unit</label>
    <p-dropdown id="unitSelect" appendTo="body" [options]="units" optionLabel="full_name" optionValue="id" placeholder="Select unit" [editable]="true" [(ngModel)]="newIngredient.unitID" #unitSelect="ngModel"></p-dropdown>
    <div *ngIf="unitSelect.invalid && (unitSelect.dirty || unitSelect.touched)" class="alert">

      <div *ngIf="unitSelect.errors?.['required']">
        Unit is required.
      </div>
    </div>

  <ng-template pTemplate="footer">
    <div class="modal-footer flex justify-between items-center w-full">
      <div class="left-buttons mr-2">
      <app-create-ingredient (createdIngredient)="getIngredients()"></app-create-ingredient>
      </div>
      <div class="right-buttons flex gap-2">
        <p-button size="small" label="Cancel" icon="pi pi-times" severity="danger" [rounded]="true" [outlined]="true" [raised]="true" (click)="hideDialog()"></p-button>
        <p-button size="small" label="Save" icon="pi pi-check" severity="success" [rounded]="true" [outlined]="true" [raised]="true" (click)="saveIngredient()" [disabled]="ingredientSelect.invalid || amount.invalid || unitSelect.invalid"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteIngredientDialog" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <div class="confirmation-content">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span v-if="ingredient">Are you sure you want to delete <b>{{getIngredientName(newIngredient)}}</b>?</span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="No" icon="pi pi-times" [rounded]="true" [raised]="true" [outlined]="true" (click)="deleteIngredientDialog = false"></p-button>
    <p-button label="Yes" icon="pi pi-trash" [rounded]="true" [raised]="true" [outlined]="true" severity="danger" (click)="deleteIngredient()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteIngredientsDialog" [style]="{width: '450px'}" header="Confirm" [modal]="true">
  <div class="confirmation-content">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span v-if="selectedIngredients">Are you sure you want to delete the selected ingredients?</span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="No" icon="pi pi-times" [rounded]="true" [raised]="true" [outlined]="true" (click)="deleteIngredientsDialog = false"></p-button>
    <p-button label="Yes" icon="pi pi-trash" severity="danger" [rounded]="true" [raised]="true" [outlined]="true" (click)="deleteSelectedIngredients()"></p-button>
  </ng-template>
</p-dialog>
